/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.pagination {
  margin: 1em 0 2em;
  background: #fff;
  cursor: default;

  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }

  .disabled {
    color: #999999;
    border: 1px solid #dddddd;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background: #56a83c;
    color: #000;
    border: 1px solid #222;
  }

  a {
    text-decoration: none;
    color: #000;
    border: 1px solid #444;

    &:hover, &:focus {
      color: #000;
      border-color: #444;
      background: lighten(#56a83c, 30%);
    }

  }

  .page_info {
    background: #56a83c;
    color: #000;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: .25em;
    text-align: center;

    b {
      padding: 0.1em 0.25em;
    }
  }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

}


* html .pagination {
    height: 1%;
}

*:first-child + html .pagination {
    overflow: hidden;
}
