<body>

<div id="tytul2">
 <h1 id="tytul">  Blog </h1>
</div>


<div id="kontener">
<div id="tnp">Edytuj Post</div>

<p><%= render 'form' %></p>




<div id="tag_cloud">
 <% tag_cloud Post.tag_counts, %w{a b c d e f g h s m l} do |tag, css_class| %>
   <%= link_to tag.name, tag_path(tag.name), class: css_class %>
 <% end %>
</div>


</div>

</body>
