// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
background-color:white;
-moz-opacity : 0.5;
opacity : 0.5;
filter : alpha(opacity=50);
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; font-style: italic; }
  .m { font-size: 1em; letter-spacing: 2px; }
  .l { font-size: 1.8em; font-style: italic; }
  .a { font-size: 0.9em; font-weight: bold; }
  .b { font-size: 1em; font-weight: lighter; }
  .c { font-size: 2em; font-style: oblique; }
  .d { font-size: 1.1em; }
  .e { font-size: 1.5em; font-weight: bold; }
  .f { font-size: 1em; background-color: gray;}
  .g { font-size: 1.1em; font-style: italic; }
  .h { font-size: 1.3em; background-color: gray;}	
border-radius:5px;
position:fixed;
left:950px;
top:100px;
width:300px;

}

h1{
color: purple;
text-shadow: 2px 2px 2px #ddccb5;

}
